#countdownTimer {
    background-color: #BC5F04;
    color: #FFFFFF;
    font-size: 5rem;
    text-align: center;
    font-family: 'Creepster', cursive;
    position: absolute;
    left: 232px;
    top: 250px;
}

#countdownDisplay {
    margin: 0;
}